.reservation {
  padding: 100px 0 120px;
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  margin-top: 100px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
}

.reservation__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.reservation__input {
  display: block;
  width: 100%;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.reservation__button {
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  color: #fff;
}

.reservation__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.reservation__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
